.container {
  max-width: toRem(1088);
  padding-left: toRem(16);
  padding-right: toRem(16);
  overflow: hidden;

  @media (min-width: 992px) {
    overflow: initial;
    padding-left: toRem(0);
    padding-right: toRem(0);
    max-width: 100%;
  }
}
