.button-top {
  z-index: $buttonTop;
  position: fixed;
  right: toRem(15);
  bottom: toRem(238);
  width: toRem(54);
  height: toRem(54);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  box-shadow: 0px 4px 6px rgba(000, 000, 000, 0.16);

  //animation
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 0.2s linear, transform 0.3s ease;

  @include media-breakpoint-up(lg) {
    bottom: toRem(142);
  }

  &__active {
    opacity: 1;
    transform: translateY(0);
  }

  img {
    width: toRem(14);
    height: toRem(22);
  }
}
