.header-content {
  height: 75px;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: #219db7;

  &__header-painel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;

    @media (min-width: 700px) {
      display: flex;
      justify-content: space-between;
    }

    &__Logo-header {
      color: #fff;
      font-size: 25px;

      @media (min-width: 700px) {
        padding: 5px 5px 5px 50px;
      }
    }
  }
}
