.main-painel {
    height: 100%;
    max-height: 100%;
    position: relative;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;

    &__main-content {
        margin: 10px 10px 10px 10px;
        border-radius: 10px;
        height: 100%;
        padding: 30px 15px;
        min-height: calc(100vh - 75px);
        background-color: #edf2f6;
    }
}

.sidebar.active ~ .main-painel {
    width: calc(100% - 240px);
    left: 240px;
    height: 100%;
}

.page {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &__title-page {
        @include fontDelta(20px, 10px, bold);
        font-size: 26px;
        color: #219db7;
        margin-bottom: 10px;
    }

    &__search-header {
        display: flex;
        align-items: center;
        color: #fff;
        margin-left: 5px;

        @media (min-width: 700px) {
            padding: 5px 5px 15px 5px;
        }

        .bx-search-alt-2 {
            position: absolute;
            color: #fff;
            font-size: 22px;
            padding: 10px;
        }

        input {
            background-color: #219db7;
            border: 1px solid #88f757;
            outline: none;
            border-radius: 12px;
            padding: 12px 38px;
            color: #fff;
        }

        input::placeholder {
            font-size: 14px;
            color: #fff;
        }
    }
}
.voltaTopo {
    text-decoration: none;
    color: #fff;
    background-color: rgba(90, 89, 89, 0.5);
    border-radius: 50%;
    padding: 15px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.title-page {
    @include fontDelta(20px, 10px, bold);
        font-size: 26px;
        color: #219db7;
        margin-bottom: 10px;
}