.main-painel {
    height: 100%;
    max-height: 100%;
    position: relative;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;

    &__main-content {
        margin: 10px 10px 10px 10px;
        border-radius: 10px;
        height: 100%;
        padding: 30px 15px;
        min-height: calc(100vh - 75px);
        background-color: #edf2f6;
    }
}

.sidebar.active ~ .main-painel {
    width: calc(100% - 240px);
    left: 240px;
    height: 100%;
}

.title-page {
    @include fontDelta(20px, 10px, bold);
    font-size: 26px;
    color: #ea3029;
    margin-bottom: 10px;
}

.voltaTopo {
    text-decoration: none;
    color: #fff;
    background-color: rgba(90, 89, 89, 0.5);
    border-radius: 50%;
    padding: 15px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}
