.sidebar {
  position: fixed;
  height: 100%;
  background-color: #ffc500;
  padding: 6px 14px;
  transition: all 0.5s ease;
  top: 0;
  left: 0;
  width: 78px;

  &.sidebar.active {
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    z-index: 1;

    #btn {
      left: 90%;
    }

    .links_name {
      opacity: 1;

      &.is-active {
        background-color: #ea3029;
        color: #fff;
      }
    }

    @media (min-width: 992px) {
      width: 240px;
    }
  }

  &__nav_list {
    ul {
      li {
        .links_name {
          color: #fff;
          display: flex;
          align-items: center;
          text-decoration: none;
          transition: all 0.4s ease;
          border-radius: 12px;
          white-space: nowrap;

          span {
            opacity: 0;
          }

          &:hover {
            color: #ea3029;
            background-color: #fff;
          }

          &.is-active {
            background-color: #fff;
            color: #ea3029;
          }
        }
      }
    }
  }

  ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
  }

  #btn {
    position: absolute;
    color: #000;
    top: 6px;
    left: 50px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
  }

  ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;

    .links_name {
      opacity: 0;
    }
  }

  hr {
    width: 100%;
    height: 1px;
    border: 0px;
    border-top: 1px solid red;
    background-color: #dddddd;
  }
}

.logo_content .logo {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.sidebar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}

.logo_content .logo i {
  font-size: 28px;
  margin-right: 5px;
}

.logo_content .logo .logo_name {
  color: #ea3029;
  margin-left: 8px;
  font-size: 20px;
  font-weight: 400;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 10px 5px;
  list-style: none;
  line-height: 50px;
}

.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #ea3029;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}

.sidebar ul li input::placeholder {
  color: #fff;
}

.sidebar .myMusic {
  margin-left: 8px;
}

.sidebar ul li .bx-search-alt-2 {
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
  transition: all 0.5 ease;
}

.sidebar ul li .bx-search-alt-2:hover {
  background: #fff;
  color: #ea3029;
}

.sidebar ul li a:hover {
  color: #ea3029;
  background-color: #fff;
}

.sidebar .profile_content {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: #ea3029;
}

.profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.sidebar.active .profile .profile_details {
  opacity: 1;
  pointer-events: auto;
}

.profile .profile_details img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid #ffc500;
}

.profile .profile_details .name_people {
  margin-left: 10px;
}

.profile .profile_details .name {
  font-size: 15px;
  font-weight: 400;
}

.profile #log_out {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
}

.sidebar.active .profile #log_out {
  left: 88%;
}
